<div class="card-layout-container">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <mat-card class="card">
        <mat-card-content class="card-body">
          <i class="material-icons md-dark">language</i>
          <div class="card-data">
            <p>Total No Of Projects</p>
            <p>{{allPorjectcount}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-6">
      <mat-card class="card">
        <mat-card-content class="card-body">
          <i class="material-icons md-dark">language</i>
          <div class="card-data">
            <p>Completed Projects</p>
            <p>{{Completedcount}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-6">
      <mat-card class="card">
        <mat-card-content class="card-body">
          <i class="material-icons md-dark">language</i>
          <div class="card-data">
            <p>Ongoing Projects</p>
            <p>{{Ongoingcount}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-6">
      <app-card-vr-chart></app-card-vr-chart>
    </div>
    <div class="col-sm-6">
      <app-card-hr-chart></app-card-hr-chart>
    </div>
  </div>
</div>