<div class="login">
    <div class="login_container">
      <mat-card class="login_card">
        <mat-card-header class="login_card_header">
          <p>Login</p>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content> 
          <mat-form-field class="form_field" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput/>
            <mat-hint></mat-hint>
          </mat-form-field>
          <mat-form-field class="form_field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput/>
            <mat-hint></mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
</div>
